<app-logout-navigation></app-logout-navigation>
<!-- <app-document (onUploadFinished)="uploadFinished($event)"></app-document>
<div class="row">
  <div class="offset-md-5 col-md-2">
    <button type="button" class="btn btn-primary" (click)="onCreate()">Create </button>
  </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
          <th scope="col">DocumentId</th>
          <th scope="col">DocumentType</th>
          <th scope="col">DocumentName</th>
          <th scope="col">IsActive</th>
          <th scope="col">CustomerId</th>
          <th scope="col">DocumentImage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents">
        <td><img [src]="createImgPath(document.imgPath)" alt="profile picture" style="width:60px; height:60px;"></td>
        <td>{{document.documentId}}</td>
        <td>{{document.documentType}}</td>
        <td>{{document.documentName}}</td>
        <td>{{document.isActive}}</td>
        <td>{{document.customerId}}</td>
        <td>{{document.documentFile}}</td>
      </tr>
    </tbody>
  </table> -->
<app-footer></app-footer>
